body {
  background-color: #525564;
  font-family: sans-serif;
  background-image: url("images/background/21093.jpg");
  background-size:cover;
  height: auto;
  width: auto;
}

navigation css
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #444;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: block;
  padding: 8px 20px 8px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

nav .active {
  background-color: #3ABBFF;
}

nav li a:hover {
  background-color: #111;
  color: #DDD;
}

td {vertical-align: bottom;}



#header{
background-image:  linear-gradient(to right, #918E85, #231F20);
color: #000080;
padding: 20px;
padding: 5px;
text-align: left;
text-align: center;
}

#container {
background-color: #918E85;
width: 80%;
margin-left: auto;
margin-right: auto;
}

#content{
align-items: center;
padding: 10px;
}

#dnav{
padding: 5px;
background-color: #918E85;
border-radius: 5px;
font-weight: bold;
font-size: 17px;
display: block;
}

#dnav li {
display: block;
border: 2px solid black;
width: 100%;
display: inline;
padding: 8px 20px 8px 20px;
font-weight: bold;
}




#box{
margin-bottom: 15px;
padding: 10px;
border-radius: 10px;
background-color: #555;
}

#boxc{
padding:3px;
background-color: #3C908A;
border-radius: 10px;
margin-left: 200px;
margin-right:200px;
padding: 5px;
}

#boxcc{
padding:3px;
background-color: #70C3BD;
border-radius: 10px;
text-align:left;
}

#boxce{
padding:3px;
background-color: #335F6A;
border-radius: 10px;
margin-left: 200px;
margin-right:200px;
}

#footer{
clear:both;
color:white;
padding:10px;
background-color:#231F20;
text-align:right;
width:79%;
margin-left: auto;
margin-right: auto;
}

.center.center {
display: block;
margin-left: auto;
margin-right: auto;
}

s{text-decoration-thickness: 3px;}
img {border: 5px solid #2F4F4F;}
iframe{border-radius: 10px; border: 5px solid #1C5F58;}
h3,h2{margin: 0;}
h2{text-align: center; font-size: 3vw;}
h3{font-size:1.4vw;}
h4{font-size:1.3vw;}
